@use "../../styles/partials/mixins" as *;

.quote-box {
  @include glass-effect;
  background: linear-gradient(
    108deg,
    rgba(255, 255, 255, 0.46) -16.26%,
    rgba(255, 255, 255, 0) 100.97%
  );
  border: none;
  height: 10rem;
  display: flex;

  @include sm {
    padding: 1.5rem;
    flex-direction: column;
    justify-content: space-around;
  }

  @include md {
    padding: 4rem;
    flex-direction: row;
    justify-content: space-around;
  }

  @include lg {
  }

  &-quote {
    font-weight: 400;
    display: flex;
    flex-direction: column;
  }
}
