.priority-box {
  border-radius: 1.5rem;
  border: 0.1px solid #8e4d4db9;
  background: #ec9f9fb9;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
  overflow-x: auto;
}
