@use "../../styles/partials/mixins" as *;

.hero {
  &-banner {
    height: 17.125rem;
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #01d085 50%, #53c2b5 95.8%);

    @include sm {
      padding-left: 4rem;
    }
    @include md {
      padding-left: 8rem;
    }
    @include lg {
      padding-left: 12rem;
    }

    &__title {
      color: #fff;
      font-family: Verdana;
      font-weight: 700;

      @include sm {
        font-size: 1.5rem;
      }

      @include md {
        font-size: 3rem;
      }
    }


  }
}
