.app {
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.app-glow {
  position: relative;
  top: 1.5rem;
  z-index: 4;
  border-radius: 150.69181rem;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  transform: scale(1.1);
  animation: glow 1.5s ease-in-out infinite alternate;
}

.app-content {
  position: relative;
  z-index: 1; /* Ensure that child components are rendered above the background */
}

// Add your other styles for child components here
